body {
	font-family: 'Lato', sans-serif;
	color: #333;
	font-size: 16px;
}

h1, h2 {
	font-family: 'Libre Baskerville', serif;
}

h1 {
	font-size: 36px;
	margin-bottom: 24px;
}

h2 {
	font-size: 24px;
	margin-bottom: 24px;
}

p {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.4px;
}

a {
	color: #9ADA53;
	text-decoration: none;
}

a:hover {
	color: #9ADA53;
	text-decoration: underline;
}

img, p {
	-moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -webkit-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -o-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    transition: width 1s ease-in-out, left 1.5s ease-in-out;
}

/* text styles */

p.quote {
	color: #9B9B9B;
	font-style: italic;
}

.content p, .content ul li {
	font-size: 18px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

header {
	padding: 30px;
}
.content {
	padding-bottom: 30px;
}

.content img {
	width: 100%;
}

.content .img-gallery img {
	height: auto;
	width: 100%;
	max-width: 300px;
}

/*
.content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.content li {
  padding-left: 1em; 
  text-indent: -.7em;
  line-height: 1.5;
}

.content li::before {
  content: "•  ";
  letter-spacing: 5px;
  color: #9ADA53; 
}
*/

/* Spacing */
.pad-top-15 {
	padding-top: 15px;
}

.pad-top-30 {
	padding-top: 30px;
}

.pad-bot-15 {
	padding-bottom: 15px;
}

.pad-bot-30 {
	padding-bottom: 30px;
}

.container {
	padding-bottom: 30px;
	padding-top: 30px;
}

.content {
	/*For sticky footer*/
	margin-bottom: 220px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 220px;
  background-color: #3D3D3D;
  color: #ffffff;
}

.footer .navbar-nav li a {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 16px;
}

.footer .navbar-nav li a:hover {
	background: none;

}

.box-shadow {
	box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.btn-primary {
	background-color: #9ADA53;
	border: none;
	border-radius: 2px;
	text-transform: uppercase;
	padding: 14px 40px;
}

.btn-primary:hover, .btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary, .btn-primary.focus, .btn-primary:focus, .btn-success:active:focus {
	background-color: #587F2D;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
	background-color: #587F2D;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px rgba(154, 218, 83, 0.6);
}


.content {
	background: #ffffff;
}

.bg-banner {
	background: url('../images/header-bg.jpg') no-repeat;
	background-position: 0 0;
	background-size: cover;
}

.jumbotron {
	background: none;
	color: #fff;
	padding-top: 0;
	padding-bottom: 0;
}

.jumbotron h1 {
	font-size: 36px;
}

.jumbotron p {
	font-size: 16px;
}

.navbar {
	background: none;
	border: none;
	margin-bottom: 0;
}

.navbar-brand {
	z-index:0;
}

header .navbar-nav {
	padding-top: 15px;
}

.navbar-nav > li > a  {
	color: #fff !important;
	font-family: 'Libre Baskerville', serif;
	font-size: 18px;
}

.navbar-nav > li > a:hover {
	text-decoration: underline;
}

.navbar-toggle {
	border: none;
	position: absolute;
	top: 0;
	right: 0;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #ffffff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: none !important;
	border: none;
}

.navbar-form {
	border: none;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: rgba(255,255,255,0.5);
	border-radius: 0;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: transparent;
	border: none;
	box-shadow: none;
}

.form-control {
	font-size: 16px;
	border-radius: 0;
	height: auto;
	padding: 12px;
}

.form-group label {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 400;
}

.form-control:focus,
textarea:focus,
input[type="text"]:focus,
input[type="textarea"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #9ADA53;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px rgba(154, 218, 83, 0.6);
  outline: 0 none;
}

.tags-container span {
	display: inline-block;
    border: 2px solid #e2e2e2;
    color: #9B9B9B;
    font-size: 14px;
    line-height: 10px;
    padding: 5px 9px;
    margin: 5px;
    cursor: pointer;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.tags-container span:hover {
	color: #ffffff;
    background: #9ADA53;
    border-color: #9ADA53;
}

span.tagsort-active, span.active  {
	color: #ffffff;
    background: #9ADA53;
	border-color: #9ADA53;
}

.morecontent span {
    display: none;
}
.morelink {
    display: block;
    font-size: 14px;
    padding-top: 10px;
}

p.item-tags {
	padding-bottom: 30px;
	font-size: 14px;
}

a:focus, a:hover {
	color: #9ADA53;
}

#testimonials-content img {
	max-width: 450px;
}

#img-services {
	width: 167px;
	height: 167px;
	background: url('assets/images/services-img.png') no-repeat;
}

.faq-entry {
	padding-bottom: 30px;
}

.faq-entry h2 {
	padding-top: 15px;
}

@media screen and (max-width: 992px) {
	.footer {
		height: 276px;
	}
	.content {
		margin-bottom: 276px;
	}
}


@media screen and (max-width: 768px) {
	.navbar-header {
		text-align:center;
	}
	.navbar-brand {
		display:inline-block;
		float:none;
		height:auto;
	}
	.mob-pad-30 {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.mob-pad-15 {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.mob-center {
		text-align: center;
	}

	header {
		padding: 0;
	}
	.navbar-brand {

	}

	.navbar-collapse li {
		text-align: center;

	}
	.footer {
		height: 525px;
	}
	.content {
		margin-bottom: 525px;
	}
	.tags-container span {
	    font-size: 16px;
	    padding: 10px 15px;
	    border-radius: 20px;
	    -moz-border-radius: 20px;
	    -webkit-border-radius: 20px;
	}
}



